/*font*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
	background-color: #E8D6D7;
	text-align: center;
	font-size: 200px;
	padding: 50px;
	font-family: 'Sacramento', 'Kiwi Maru', cursive;
	color: #444;
	padding: 20px;
}

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.top-design{
	width: 100%;      /* 画面幅いっぱいに広げる */
    max-width: 600px; /* ただし最大でも600pxまでにする */
    height: auto;     /* 縦横比を保って自動調整 */
    display: block;   /* ブロック要素にして扱いやすくする */
    margin: 0 auto 20px 0; /* 左右中央寄せ ＋ 下に20pxの隙間 */
}

h1{
	font-size: 40px;
}

#history{
	text-align: left; /*リストの中身は左寄せ*/
	display: flex;/*寄せ方調整*/
	margin: 0 auto;/*全体を真ん中に配置する*/
	list-style-type: none;
	color: #666;
		
	background-color: #F5EDED;
	padding: 20px;
	border-radius: 10px; /* 角を丸くする魔法 */
}

button{
	background-color: #b47c7c;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: url('クローバー,pointer.png'), pointer;
	transition: 0.3s;	
}

button:hover{
	background-color: #9e6969;
	transform: translateY(-2px);
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

input{
	border: none;
	border-radius: 8px;
}

select{
	color: #444;
	border: none;
	border-radius: 8px;
}

option{
	color: #444;
	border: none;
	border-radius: 8px;
}
