/*font*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

body{
	background-color: #E8D6D7;
	text-align: center;
	font-size: 1.25em;
	padding: 50px;
	font-family: 'Sacramento', 'Sawarabi Mincho', cursive;
	color: #444;
}

h1{
	font-size: 2em;
}

#history{
	text-align: left; /*リストの中身は左寄せ*/
	display: inline-block;/*寄せ方調整*/
	margin: 0 auto;/*全体を真ん中に配置する*/
	list-style-type: none;
	color: #666;
		
	background-color: #F5EDED;
	padding: 20px;
	border-radius: 10px; /* 角を丸くする魔法 */
}

button{
	background-color: #b47c7c;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: url(''), pointer;
	transition: 0.3s;	
}

button:hover{
	background-color: #9e6969;
	transform: translateY(-2px);
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

input{
	border: none;
	border-radius: 8px;
}

select{
	border: none;
	border-radius: 8px;
}
