body{
	background-color: #f0f8ff;
	font-family: sans-serif;
	text-align: center;
	padding: 50px;
}

h1{
	color: #333;
}

#history{
	text-align: left; /*リストの中身は左寄せ*/
	display: inline-block;/*寄せ方調整*/
	margin: 0 auto;/*全体を真ん中に配置する*/
	list-style-type: none;
	color: #666;
	
	background-color: #f9f9f9;
	padding: 20px;
}
